<div class="container">
    <h2>To-dos</h2>
    <input [(ngModel)]="todo" placeholder="Enter a task" />
    <button (click)="addTodo()">Add Todo</button>
  
    <ul>
      <li *ngFor="let todo of allTodos$ | async"  class="todo-item">
        <span>{{ todo.content }}</span>
        <button class="remove-btn" (click)="removeTodo(todo)">Remove</button>
        <button class="edit-btn"(click)="editTodo(todo)">Edit</button>
      </li>
    </ul>
</div>
<div class="container2">
  <h2>Dogs</h2>
  <ul>
    <li *ngFor="let dog of allDogs$ | async" class="dog-item">
      <span>{{ dog.attributes.description }}</span>
    </li>
  </ul>
</div>
  